body{
    padding-left: 1rem;
    border: ;
    width: ;
    margin-left: ;
    height: fit-content;
    overflow: hidden;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 1rem; 
    position: absolute;    
    border-bottom: 2px solid;  
}